* {
    font-family: 'Noto Sans TC', sans-serif;
}

img {
    max-width: 100%;
    object-fit: cover;
}

a {
    display: inline-block;
    text-decoration: none;
}

%inputStyle {
    background-color: transparent;
    outline: none;
    border: none;
}

html {
    font-size: 62.5%;
}

body,
h1 {
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background:
        linear-gradient(45deg, #1B9CFC 30%, #3B3B98 100%)
        center center / 100% 100%;
    overflow: hidden;
    // position: relative;
    .tabs {
        position: absolute;
        bottom: 2rem;
        right: 1rem;
        background-color: #e6b54d;
        color: #d83939;
        font-size: 1.5rem;
        font-weight: 500;
        padding: 2rem;
        border-radius: 1rem;
        transform: translateX(120%);
        transition: transform .5s ease-in-out;
        &.tabsActive {
            transform: translateX(0);
        }

    }
    .todoApp {
        margin: 0 auto;
        .tasksInput {
            text-align: center;
            h1 {
                font-size: 7rem;
                font-weight: 700;
                color: #fff;
                margin: 0 auto 3rem;
            }
            input {
                @extend %inputStyle;
                border-bottom: 1px solid #fff;
                padding: 0 1rem;
                margin: 0 auto 1.5rem;
                color: #fff;
                font-size: 3rem;
                font-weight: 400;
                position: relative;
                &:focus {
                    box-shadow: 0 2px 0 #d39d2a;
                    border-bottom: 1px solid transparent;
                }
                &::-webkit-input-placeholder {
                    color: rgba(170, 170, 170, 0.5);
                    font-size: 2rem;
                }
            }
            #btn {
                display: block;
                margin: auto;
                padding: 0 2.5rem;
                line-height: 1.7;
                background-color: #3B3B98;
                color: #fff;
                font-size: 1.5rem;
                outline: none;
                border: none;
                border-radius: .7rem;
                box-shadow: 3px 3px 0 1px #032a57;
                cursor: pointer;
                &:hover {
                    background-color: #d39d2a;
                }
            }

        }
        .tasksContent {
            margin: auto;
            text-align: center;
            margin: 3rem auto;
            padding: 1rem;
            background-color: #48b0ff;
            box-shadow: 5px 5px 0 3px #032a57;
            input {
                @extend %inputStyle;
                color: #fff;
                width: 100%;
                height: 20px;
                font-size: 1.5rem;
                margin: 0 -1rem 0 0;
                cursor: default;
                &.delText {
                    color: #aaa;
                    text-decoration-line: line-through;
                    text-decoration-color: #aaa;
                    text-decoration-style: double;
                    text-decoration-thickness: 2px;
                }
            }
            .fas {
                font-size: 2rem;
                margin-right: 1.5rem;
                cursor: pointer;
                &:nth-of-type(1),
                &:nth-of-type(2),
                &:nth-of-type(3) {
                    color: #032a57;
                    &:hover {
                        color: #d39d2a;
                    }
                }
            }
            .task {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 1rem;
                border-bottom: 2px solid #fff;
            }
        }
    }



}