* {
  font-family: 'Noto Sans TC', sans-serif;
}

img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  display: inline-block;
  text-decoration: none;
}

body .todoApp .tasksInput input, body .todoApp .tasksContent input {
  background-color: transparent;
  outline: none;
  border: none;
}

html {
  font-size: 62.5%;
}

body,
h1 {
  margin: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  background: linear-gradient(45deg, #1B9CFC 30%, #3B3B98 100%) center center/100% 100%;
  overflow: hidden;
}

body .tabs {
  position: absolute;
  bottom: 2rem;
  right: 1rem;
  background-color: #e6b54d;
  color: #d83939;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 2rem;
  border-radius: 1rem;
  -webkit-transform: translateX(125%);
          transform: translateX(125%);
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}

body .tabs.tabsActive {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

body .todoApp {
  margin: 0 auto;
  position: absolute;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}

body .todoApp.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

body .todoApp .tasksInput {
  text-align: center;
}

body .todoApp .tasksInput h1 {
  font-size: 7rem;
  font-weight: 700;
  color: #fff;
  margin: 0 auto 3rem;
}

body .todoApp .tasksInput input {
  border-bottom: 1px solid #fff;
  padding: 0 1rem;
  margin: 0 auto 1.5rem;
  color: #fff;
  font-size: 3rem;
  font-weight: 400;
  position: relative;
}

body .todoApp .tasksInput input:focus {
  -webkit-box-shadow: 0 2px 0 #d39d2a;
          box-shadow: 0 2px 0 #d39d2a;
  border-bottom: 1px solid transparent;
}

body .todoApp .tasksInput input::-webkit-input-placeholder {
  color: rgba(170, 170, 170, 0.5);
  font-size: 2rem;
}

body .todoApp .tasksInput #btn {
  display: block;
  margin: auto;
  padding: 0 2.5rem;
  line-height: 1.7;
  background-color: #3B3B98;
  color: #fff;
  font-size: 1.5rem;
  outline: none;
  border: none;
  border-radius: .7rem;
  -webkit-box-shadow: 3px 3px 0 1px #032a57;
          box-shadow: 3px 3px 0 1px #032a57;
  cursor: pointer;
}

body .todoApp .tasksInput #btn:hover {
  background-color: #d39d2a;
}

body .todoApp .tasksContent {
  margin: auto;
  text-align: center;
  margin: 3rem auto;
  padding: 1rem;
  background-color: #48b0ff;
  -webkit-box-shadow: 5px 5px 0 3px #032a57;
          box-shadow: 5px 5px 0 3px #032a57;
}

body .todoApp .tasksContent input {
  color: #fff;
  width: 100%;
  height: 20px;
  font-size: 1.5rem;
  margin: 0 -1rem 0 0;
  cursor: default;
}

body .todoApp .tasksContent input.delText {
  color: #ccc;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  -webkit-text-decoration-color: #7c7c7c;
          text-decoration-color: #7c7c7c;
  -webkit-text-decoration-style: double;
          text-decoration-style: double;
  text-decoration-thickness: 2px;
}

body .todoApp .tasksContent .fas {
  font-size: 2rem;
  margin-right: 1.5rem;
  cursor: pointer;
}

body .todoApp .tasksContent .fas:nth-of-type(1), body .todoApp .tasksContent .fas:nth-of-type(2), body .todoApp .tasksContent .fas:nth-of-type(3) {
  color: #032a57;
}

body .todoApp .tasksContent .fas:nth-of-type(1):hover, body .todoApp .tasksContent .fas:nth-of-type(2):hover, body .todoApp .tasksContent .fas:nth-of-type(3):hover {
  color: #d39d2a;
}

body .todoApp .tasksContent .task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  border-bottom: 2px solid #fff;
}
